* {
    color: rgb(51, 112, 59);
    font-size: 18px;
    font-family: 'Jura', sans-serif;
    padding: 0px;
    margin: 0px;
}

html {
    background-color: white;
}

header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-top: 15px;
    padding-bottom: 15px;
    margin-left: 115px;
    margin-right: 115px;
}

header ul {
    display: flex;
    gap: 40px;
}

a {
    text-decoration: none;
}

body {
    background: rgba(255, 255, 255, 0.3);
    border-radius: 25px;
    margin: 15px;
    padding: 15px;
}

main {
    min-height: calc(100vh - 50px);
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
}

.welcome_message {
    background-image: url(../assets/landing_page_background.png);
    background-size: cover;
    padding-left: 20px;
    padding-top: 20px;
    padding-bottom: 20px;
    padding-right: 80px;
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    justify-content: center;
    align-items: end;
    min-height: 830px;
}

.message_content {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-around;
    margin-bottom: 180px;
}

.website_name {
    font-size: 100px;
    padding: 0px;
    margin: 0px;
    width: 700px;
    text-align: center;
    color: rgb(255, 255, 255);
}

.website_caption {
    font-size: 30px;
    width: 700px;
    text-align: center;
    color: rgb(255, 255, 255);
}

.coffee {
    font-size: 40px;
    color: rgb(51, 112, 59);
}

.drink_cards {
    overflow: hidden;
    flex-wrap: wrap;
    display: flex;
}

footer {
    display: flex;
    padding-bottom: 15px;
    text-align: right;
    border-top: solid rgba(0, 0, 0, 0.3) 2px;
    margin: 0 115px;
    justify-content: space-between;
    padding: 15px;
    margin-top: 60px;
}

.social_links {
    display: flex;
    align-items: center;
}

.social_links i {
    width: 25px;
    color: rgb(20, 20, 20);
}